@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');



/* basic css reset */
:root{
    /*Current colors*/
    --pink:#FF0077;
    --pink-purple:#E33AAA;
    --orange:#FF776C;
    --purple:#B889FF;
    --dark-blue:#65C5FF;
    --light-blue:#24F4FF;
    /*Replacment colors*/
    --r-light-blue:#00D2FC;
    --r-medium-blue:#009EFA;
    --r1-dark-blue:#004CB6;
    /*Contrast approves colors*/
    --c-pink:#F50072;
    --c-light-teal:#4FFBDF;
    /*Shark themed colors*/
    --s-white:#FFFFFF;
    --s-gray-red:#B63C43;
    --s-red:#CF0C0C;
    --s-light-blue:#CCECF2;
    --s-blue:#98D2D9;
    --s-gray:#809FA5;
    --s-header-red:#BF0909;
    --s-title-blue:#6FBDEA;
    --s-link-red:#FF0000;
    --s-dark-blue:#0045A5;
    --s-dark-red:#990909;
    --s-dark-gray:#54686C;

    /*Border*/
    --basic-border:2px black solid;
    --bubble-border:2px white solid;
}




*,*::before,*::after{
    box-sizing:border-box;
}
*{
    margin:0;
    overflow:auto;
    font-family:"Ubuntu Mono";
    /* position:relative; */
}
img{
    display:block;
    max-width:100%;
}
p{
    font-family:"Ubuntu Mono";
}

/*All the cool link color shenigans*/
a{
    font-family:"Courier Prime";
}
a:link{
    /* color:var(--light-blue); */
    color:var(--s-link-red);
}
a:visited{
    /* color:var(--light-blue); */
    color:var(--s-link-red);
}
a:hover{
    color:var(--dark-blue);
}
a:active{
    color:var(--pink-purple);
}

/*Flex-Basic flex container setup*/
.flex{
    max-height:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:1rem;
    padding:1rem;
    overflow:auto;
}

/*Background setup*/
.background{
    background-image: linear-gradient(var(--light-blue), var(--dark-blue) 30%, var(--r-medium-blue) 94%, var(--r1-dark-blue) 100%);
    /* background-image:linear-gradient(var(--light-blue),var(--dark-blue) 60%,var(--purple) 94%,var(--pink-purple) 100%); */
    position:fixed;
    top:0;
    width:100vw;
    height:100vh;
    z-index:-100;
}

/*General Button Setup*/
.button{
    border-radius:10px;
    padding:5px 10px;
    /* background-color:var(--orange); */
    background-color:var(--s-blue);
    border:var(--basic-border);
    display:block;
}

/*Category Style*/
.category{
    border-radius:10px;
    padding:5px 10px;
    background-color:var(--r1-dark-blue);
    color:var(--s-title-blue);
    border:var(--basic-border);
    display:block;
    margin:70px 5px 10px 5px;
    width:fit-content;
    font-size:2rem;
    font-family:"Courier Prime";
    font-weight:600;

}

/*Main Header-Top of all screens*/
.mainHeader{
    max-height:14vh;
    min-height:85px;
    /* background-color:var(--pink); */
    background-color:var(--s-header-red);
    /*an attempt to fix the navbar at the top of the screen
    the problem is that it makes an empty area under it.*/
    /* position:sticky; */
    /* top:0; */
    width:100%;
    overflow:hidden;
    z-index:10;
}
.mainHeader .home{
    justify-content:left;
    font-size:2rem;
    font-weight:700;
}
.mainHeader .title{
    font-family:courier;
    margin:0 auto;
    font-size:3.5rem;
    font-weight:600;
    /* color:var(--purple); */
    color:var(--s-title-blue);
}
.mainHeader .button{
    /* background-color:var(--orange); */
    background-color:var(--s-blue);
    border:var(--bubble-border);
}

/*Footer Section*/
.footer{
    position:fixed;
    bottom:0;
    /* width:100%; */
    z-index:10;
}

/*Start of the content styles*/
/*About Page content*/
.about{
    padding:10px;
    margin:2px;
    text-align:center;
}
.about .title{
    font-family:"Courier Prime";
    font-size:3rem;
    padding:10px;
}
.about .text{
    font-family:"Ubuntu Mono";
    padding:10px 20px;
}
.about .return{
    width:fit-content;
    margin:15px auto;
}

/*Main page*/
/*Hero section-For the deal of the day*/
.hero{
    max-height:50vh;
    /* background-color:var(--purple); */
    background-color:var(--s-gray);
    max-height:300px;
    justify-content:space-between;
    /* border:1px hidden; */
    border:var(--basic-border);
    border-radius:25px;
    margin:2px 5px;
}
.hero .left{
    font-size:2rem;
    width:fit-content;
    text-align:left;
    /* color:var(--pink); */
    color:var(--s-dark-blue);
}
.hero .middle{
    text-align:center;
    font-size:3rem;
    color:var(--c-light-teal);
    max-width:60%;
    font-weight:600;
    height:auto;
}
.hero .middle .one{
    color:var(--s-red);
}
.hero .middle .two{
    color:var(--s-dark-blue);
}

.hero .right{
    font-size:2.5rem;
    max-width:20%;
    text-align:right;
    /* color:var(--pink); */
    color:var(--s-dark-red);
}

/*Combo items*/
.h-Items{
    overflow-x:auto;
    overflow-y:hidden;
    white-space:nowrap;
    /* width:100%; */
    background:linear-gradient(90deg, var(--s-dark-gray), var(--s-gray) 50%, var(--s-light-blue) 90%, var(--s-white) 100%);
    margin:0;
    border:var(--basic-border);
}
.h-Items .item{
    height:250px;
    width:400px;
    display:inline-block;
    border:var(--basic-border);
    border-radius:60px;
    position:relative;
    margin:23px 10px;
    overflow:hidden;
}
.h-Items .item p{
    position:absolute;
    top:10%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:1.25rem;
}
.h-Items .item p.down{
    top:90%;
    font-weight: 600;
    font-size:2rem;
}
.h-Items .item p.up{
    top:10%;
    font-weight: 600;
    font-size:2rem;
}
.h-Items .item img{
    width:auto;
    height:150px;
    position:absolute;
    top:0;
    left:0;
    transform:translate(50px,45px);
    border-radius:10px;
}
.h-Items .hide{
    display:none;
}

/*Different categories image placments*/
.h-Items.drinks .one img{
    transform:translate(155px,45px);
}
.h-Items.drinks .two img{
    transform:translate(155px,45px);
}
.h-Items.drinks .three img{
    transform:translate(175px,45px);
}
.h-Items.dishes .one img{
    transform:translate(115px,35px);
}
.h-Items.dishes .two img{
    transform:translate(125px,45px);
}
.h-Items.dishes .three img{
    transform:translate(125px,45px);
}
.h-Items.extras .one img{
    transform:translate(105px,35px);
}
.h-Items.extras .two img{
    transform:translate(60px,45px);
}
.h-Items.extras .three img{
    transform:translate(170px,45px);
}
.h-Items.extras .four img{
    transform:translate(160px,45px);
}

/*A bunch of different Item styles*/
.item .button{
    position:absolute;
    bottom:0;
    right:0;
    transform:translate(0,0);
    background-color:var(--dark-blue);
    color:var(--pink-purple);
    border:var(--basic-border);
    width:fit-content;
    height:fit-content;
}
.item.blue{
    background-color:var(--r-medium-blue);
    color:var(--s-dark-red);
}
.item.purple{
    background-color:var(--r1-dark-blue);
    color:var(--light-blue);
}
